<div class="bg__pattern">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
</div>