<div class="wrapper__arrows right">
    <button class="arrow--right">
        <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="41.75px" height="39.605px" viewBox="0 0 41.75 39.605" enable-background="new 0 0 41.75 39.605" xml:space="preserve">
            <g>
                <g>
                    <polygon fill="#DDDDDD" points="21.896,39.605 19.686,37.395 37.332,19.75 19.686,2.105 21.896,-0.105 41.75,19.75         " />
                </g>
                <g>
                    <polygon fill="#DDDDDD" points="3.146,39.605 0.936,37.395 18.582,19.75 0.936,2.105 3.146,-0.105 23,19.75        " />
                </g>
            </g>
        </svg>
    </button>
</div>
<div class="wrapper__arrows left">
    <button class="arrow--left">
        <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="41.75px" height="39.605px" viewBox="0 0 41.75 39.605" enable-background="new 0 0 41.75 39.605" xml:space="preserve">
            <g>
                <g>
                    <polygon fill="#DDDDDD" points="20.789,-0.105 23,2.105 5.354,19.751 23,37.395 20.789,39.605 0.936,19.751        " />
                </g>
                <g>
                    <polygon fill="#DDDDDD" points="39.539,-0.105 41.75,2.105 24.104,19.751 41.75,37.395 39.539,39.605 19.686,19.751        " />
                </g>
            </g>
        </svg>
    </button>
</div>

<div class="bg__pattern">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100%" enable-background="new 0 0 20px 100%" xml:space="preserve" width="20px">
        <g>
            <rect fill="#CCCCCC" width="1" height="100%" />
            <rect x="19.021" fill="#CCCCCC" width="1" height="100%" />
        </g>
    </svg>
</div>

<script src="{{ "/assets/js/application.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
// var _gaq = [
//     ['_setAccount', 'UA-XXXXX-X'],
//     ['_trackPageview']
// ];
</script>
