.label {
    color: #fff;
    padding: 0.2em 0.7em 0.3em;
    display: inline-block;
    background-color: #C0C0C0;
    text-transform: uppercase;
    line-height: 1.3em;
    font-weight: bold;
    @extend %f9;
    @include vendor(border-radius, 4px);

    @include breakpoint(from-lg) {
        padding: 0.4em 0.7em 0.3em;
    }
}
.label--works {
    background-color: #6B6B6B;
    @extend .label;
}
.label--tips {
    color: #000;
    background-color: #F8FF15;
    @extend .label;
}
.label--css {
    background-color: #3372E5;
    color: #fff;
    @extend .label;
}
.label--about {
    background-color: #000;
    color: #fff;
    @extend .label;
}
.label--js {
    background-color: #FFE327;
    color: #000;
    @extend .label;
}
.label--blog {
    background-color: #C27FCB;
    @extend .label;
}
.label--tests,
.label--test,
.label--karma,
.label--tdd {
    background-color: #42beae;
    @extend .label;
}
.label--protractor {
    background-color: #e23237;
    color: #000;
    @extend .label;
}
.label--html5 {
    background-color: #f16529;
    @extend .label;
}
.label--css,
.label--css3 {
    background-color: #2aa7e0;
    @extend .label;
}

.label--git {
    background-color: #f14e32;
    @extend .label;
}
